.wrapper {
  display: flex;
  gap: 16px;
  width: fit-content;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 970px) {
  .wrapper {
    flex-direction: row;
    align-items: unset;
  }
}